@import "../styles/breakpoints"

.app.wrapper
  padding: 30px
  display: flex
  background-image: url(http://res.cloudinary.com/dyl4vtost/image/upload/v1487642172/brandon-griggs-73424_tclmcm.jpg)
  background-size: cover
  background-position-x: 50%

.newGame.wrapper
  width: 30%
  margin: 10px
  display: flex
  flex-wrap: wrap
  flex-direction: column

.games.wrapper
  width: 70%
  margin: 10px
  display: flex
  flex-direction: column

  @include breakpoint($breakpoint-large)
    display: flex

  @include breakpoint($breakpoint-medium)
    display: flex
    flex-direction: column

  &> header
    display: flex
    flex-direction: column
    margin: 0 auto
    flex: 2 100%

    @include breakpoint($breakpoint-large)
      max-width: 1260px

  .container
    width: 100%
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    flex-direction: column

    @include breakpoint($breakpoint-large)
      max-width: 1260px
      display: flex
      flex-flow: row wrap

    @include breakpoint($breakpoint-medium)
      display: flex
      flex-direction: column
      flex-flow: row wrap
